<script language="javascript">
function popup(mypage,myname,w,h,features) {
  if(screen.width){
  var winl = (screen.width-w)/2;
  var wint = (screen.height-h)/2;
  }else{winl = 0;wint =0;}
  if (winl < 0) winl = 0;
  if (wint < 0) wint = 0;
  var settings = 'height=' + h + ',';
  settings += 'width=' + w + ',';
  settings += 'top=' + wint + ',';
  settings += 'left=' + winl + ',';
  settings += features;
  win = window.open(mypage,myname,settings);
  win.window.focus();
}
</script>
<script type="text/javascript">
var _qevents = _qevents || [];

(function() {
var elem = document.createElement('script');
elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
elem.async = true;
elem.type = "text/javascript";
var scpt = document.getElementsByTagName('script')[0];
scpt.parentNode.insertBefore(elem, scpt);
})();

_qevents.push({
qacct:"p-7w0QNr17j3AtX"
});
</script>

<noscript>
<div style="display:none;">
<img src="//pixel.quantserve.com/pixel/p-7w0QNr17j3AtX.gif" border="0" height="1" width="1" alt="Quantcast"/>
</div>
</noscript>

       <div style="text-align:center"><a href="javascript:popup('https://www.flanks.org/29.html','_blank',325,468, 'scrollbars=auto');"><img src="https://www.flanks.org/3.jpg" width="15" height="16" alt="[newsflanks]"></a>&nbsp;<strong><font color="#006500">support@newsflanks.com</strong></font>&nbsp;<a href="https://www.twitter.com/newsflanks"><img src="https://www.flanks.org/1.png" width="15" height="15" alt="[twitter]"></a>&nbsp;<a href="https://www.facebook.com/newsflanks"><img src="https://www.flanks.org/2.jpg" width="15" height="15" alt="[facebook]"></a>&nbsp;<a href="https://www.instagram.com/newsflanks"><img src="https://www.flanks.org/2d.jpg" width="15" height="15" alt="[instagram]"></a></font></strong></div>


