<!DOCTYPE html>
<html lang="en">

 <head>

 	<!-- search -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <link href="/static/css/ui.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
    a:link {
	  color: #3366FF;
	}
	a:visited {
	  color: #000000;
	}
	a:hover {
	  color: #00A500;
	}
	a:active {
	  color: #00A500;
    }
    </style>
    <script type="text/javascript" src="/static/js/jquery.js"></script>

    <title>Search</title>

</head>

<body>
<font face="Verdana, Arial, Helvetica, sans-serif">
<div class=container-fluid>
<div class=row>
<div class="col-lg-2"></div>
<div class="col-lg-8">
<script language="javascript">
   if ({{usercode}} < 10) {
      document.writeln("<div>");
      document.writeln("<center>");
      document.writeln("<nav>");
      document.writeln("<ul class=nav-font>");
      document.writeln("<li>");
      document.writeln("<a class='rollover' href='/home/3'><strong><font color='#006500'>&nbspTODAY'S <b>?</b>&nbsp</font></strong></a>");
      document.writeln("</li>");
      document.writeln("<li>");
      document.writeln("<a class='rollover' href='/trending/{{usercode}}'><strong><font color='#006500'>&nbsp;TRENDING&nbsp;</font></strong></a>");
      document.writeln("</li>");
      document.writeln("<li>");
      document.writeln("<a class='rollover' href='/flip/{{usercode}}'><strong><font color='#006500'>&nbspFLIP&nbsp</font></strong></a>");
      document.writeln("</li>");
      document.writeln("<li>");
      document.writeln("<a class='rollover' href='/search/{{usercode}}'><strong><font color='#006500'>&nbspSEARCH&nbsp</font></strong></a>");
      document.writeln("</li>");
      document.writeln("<li>");
      document.writeln("<a class='rollover' href='/track/{{usercode}}'><strong><font color='#006500'>&nbspLOGIN&nbsp</font></strong></a>");
      document.writeln("</li>");
      document.writeln("</ul>");
      document.writeln("</nav>");
      document.writeln("</center>");
      document.writeln("</div>");
      document.writeln("<div>");
      document.writeln("<h4><font color='#FF0000'>News Flanks includes full search capabilities to help you find questions and links related to your favorite topics.</font></h4>");
      document.writeln("</div>");
   }
   else {
      document.writeln("<div>");
      document.writeln("<center>");
      document.writeln("<nav>");
      document.writeln("<ul class=nav-font>");
      document.writeln("<li>");
      document.writeln("<a class='rollover' href='/{{usercode}}'><strong><font color='#006500'>&nbspCURRENT&#47;NEXT <b>?</b>&nbsp</font></strong></a>");
      document.writeln("</li>");
      document.writeln("<li>");
      document.writeln("<a class='rollover' href='/trending/{{usercode}}'><strong><font color='#006500'>&nbsp;SEQUENCES&nbsp;</font></strong></a>");
      document.writeln("</li>");
      document.writeln("<li>");
      document.writeln("<a class='rollover' href='/flip/{{usercode}}'><strong><font color='#006500'>&nbspFLIP&nbsp</font></strong></a>");
      document.writeln("</li>");
	  document.writeln("<li>");
      document.writeln("<a class='rollover' href='/flanks/{{usercode}}'><strong><font color='#006500'>&nbspFLANKS&nbsp</font></strong></a>");
      document.writeln("</li>");
      document.writeln("<li>");
      document.writeln("<a class='rollover' href='/search/{{usercode}}'><strong><font color='#006500'>&nbspSEARCH&nbsp</font></strong></a>");
      document.writeln("</li>");
      document.writeln("<li>");
      document.write("<a class='rollover' href='/track/{{usercode}}'><strong><font color='#006500'>&nbsp");
      var holder = {{usercode}};
      document.write(holder);
      document.writeln("&nbsp</font></strong></a>");
      document.writeln("</li>");
      document.writeln("</ul>");
      document.writeln("</nav>");
      document.writeln("</center>");
      document.writeln("</div>");
   }
</script>
<div class="table-border">
   <font color="#006500" size="4">
   <form action="/search_query/{{usercode}}">
         <p>
            Enter a search term and then click &quot;Submit.&quot; All news links cited on this website are searched. For example, if you type the word &quot;Trump&quot; (without the quotes) you will get all links relating to Trump.<br><br>
            <input type="text" name="query" min ="1" maxlength="75">
         </p>
      <input type="submit" value="Submit">
   </form></font>
   <br><p><b>Trending searches:</b></p>
   <a class='rollover' href='https://newsflanks.com/search_query/3?query=impeachment'><strong><font color='#006500'>Impeach</font></strong></a><br>
   <a class='rollover' href='https://newsflanks.com/search_query/3?query=mass+shootings'><strong><font color='#006500'>Mass shootings</font></strong></a><br>
   <a class='rollover' href='https://newsflanks.com/search_query/3?query=Guns'><strong><font color='#006500'>Guns</font></strong></a><br>
   <a class='rollover' href='https://newsflanks.com/search_query/3?query=Climate'><strong><font color='#006500'>Climate</font></strong></a><br>
   <a class='rollover' href='https://newsflanks.com/search_query/3?query=Hillary'><strong><font color='#006500'>Hillary</font></strong></a><br>
   <a class='rollover' href='https://newsflanks.com/search_query/3?query=healthcare'><strong><font color='#006500'>Healthcare</font></strong></a><br>
   <a class='rollover' href='https://newsflanks.com/search_query/3?query=Roe'><strong><font color='#006500'>Roe</font></strong></a>

</div>
{% include "includes/footer.html" %}
</div>
<div class="col-lg-2"></div>
</div>
</div>
</font>
</body>

</html>
