<!DOCTYPE html>
<html lang="en">

 <head>
    <!-- visitor_info3 -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <link href="/static/css/ui.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
    a:link {
	  color: #3366FF;
	}
	a:visited {
	  color: #000000;
	}
	a:hover {
	  color: #00A500;
	}
	a:active {
	  color: #00A500;
    }
    </style>

    <title>More Questions</title>

</head>

<body>
<font face="Verdana, Arial, Helvetica, sans-serif">
<div class=container-fluid>
<div class=row>
<div class="col-lg-2"></div>
<div class="col-lg-8">
<script language="javascript">
   if ({{usercode}} < 10) {
      document.writeln("<div>");
      document.writeln("<center>");
      document.writeln("<nav>");
      document.writeln("<ul class=nav-font>");
      document.writeln("<li>");
      document.writeln("<a class='rollover' href='/home/{{question}}/{{usercode}}'><strong><font color='#006500'>&nbspTODAY'S <b>?</b>&nbsp</font></strong></a>");
      document.writeln("</li>");
      document.writeln("<li>");
      document.writeln("<a class='rollover' href='/trending/{{question}}/{{usercode}}'><strong><font color='#006500'>&nbsp;OTHER ?&nbsp;</font></strong></a>");
      document.writeln("</li>");
      document.writeln("<li>");
      document.writeln("<a class='rollover' href='/flip/{{question}}/{{usercode}}/6'><strong><font color='#006500'>&nbspFLIP&nbsp</font></strong></a>");
      document.writeln("</li>");
      document.writeln("<li>");
      document.writeln("<a class='rollover' href='/search2/{{question}}/{{usercode}}'><strong><font color='#006500'>&nbspSEARCH&nbsp</font></strong></a>");
      document.writeln("</li>");
      document.writeln("<li>");
      document.writeln("<a class='rollover' href='/track/{{question}}/{{usercode}}'><strong><font color='#006500'>&nbspLOGIN&nbsp</font></strong></a>");
      document.writeln("</li>");
      document.writeln("</ul>");
      document.writeln("</nav>");
      document.writeln("</center>");
      document.writeln("</div>");
      document.writeln("<div>");
      document.writeln("<h4><font color='#FF0000'>Here are some example questions inspired by news stories from the past two years. Each question presents links that both support and refute the two sides of the question.</font></h4>");
      document.writeln("</div>");
   }
   else {
      document.writeln("<div>");
      document.writeln("<center>");
      document.writeln("<nav>");
      document.writeln("<ul class=nav-font>");
      document.writeln("<li>");
      document.writeln("<a class='rollover' href='/{{usercode}}'><strong><font color='#006500'>&nbspCURRENT&#47;NEXT <b>?</b>&nbsp</font></strong></a>");
      document.writeln("</li>");
      document.writeln("<li>");
      document.writeln("<a class='rollover' href='/trending/{{usercode}}'><strong><font color='#006500'>&nbsp;SEQUENCES&nbsp;</font></strong></a>");
      document.writeln("</li>");
      document.writeln("<li>");
      document.writeln("<a class='rollover' href='/flip/{{usercode}}/6'><strong><font color='#006500'>&nbspFLIP&nbsp</font></strong></a>");
      document.writeln("</li>");
	  document.writeln("<li>");
      document.writeln("<a class='rollover' href='/flanks/{{usercode}}'><strong><font color='#006500'>&nbspFLANKS&nbsp</font></strong></a>");
      document.writeln("</li>");
      document.writeln("<li>");
      document.writeln("<a class='rollover' href='/search/{{usercode}}'><strong><font color='#006500'>&nbspSEARCH&nbsp</font></strong></a>");
      document.writeln("</li>");
      document.writeln("<li>");
      document.write("<a class='rollover' href='/track/{{usercode}}'><strong><font color='#006500'>&nbsp");
      var holder = {{usercode}};
      document.write(holder);
      document.writeln("&nbsp</font></strong></a>");
      document.writeln("</li>");
      document.writeln("</ul>");
      document.writeln("</nav>");
      document.writeln("</center>");
      document.writeln("</div>");
      document.writeln("<div>");
	  document.writeln("<h4><font color='#FF0000'>To automatically see questions that you haven't seen yet, select CURRENT/NEXT ? from the menus above and then select 'next question'. If you have selected a sequence, then the next question that you haven't seen yet in the sequence will be presented.</font></h4>");
	  document.writeln("</div>");
   }
</script>
<div class="table-border">
   <font color="#006500" size="4">
   Select a sequence or a question. When you select a sequence (in all CAPS), you are presented with all the questions listed for the sequence.<br><br>
        {% for link in categories_list %}
        &#8226;<a class='rollover' href='/{{link.api}}/{{link.metacode_frame}}/{{link.impression}}/{{usercode}}/{{link.url_text}}'>{{link.name_question}}</a><br>
        {% endfor %}
</font>
</div>

{% include "includes/footer.html" %}
</div>
<div class="col-lg-2"></div>
</div>
</div>
</font>
</body>

</html>
